.perguntas {
  padding: 120px 0px;
}

.perguntas h2 {
  padding-bottom: 90px;
}

.perguntas dl > div {
  padding: 20px;
  border-radius: 4px;
}

.perguntas dl > div:nth-child(odd) {
  background: var(--cor-1);
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}
.perguntas button::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  display: inline-block;
}

.perguntas button::after {
  content: "";
  width: 14px;
  height: 6px;
  background: url(../../img/icones/seta-abrir.svg);
  display: inline-block;
  transition: 0.3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}
.js .perguntas dd {
  display: none;
}

.js .perguntas dd.ativa {
  display: block;
}
.perguntas dd {
  padding-left: 20px;
  padding-top: 16px;
  max-width: 80ch;
}

@media (max-width: 800px) {
  .perguntas {
    padding: 60px 0px;
  }

  .perguntas h2 {
    padding: 40px;
  }
}
